@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";

@font-face {
    font-family: "Brush";
    src: url("../public/font/Dirty Brush.ttf");
}

@font-face {
    font-family: "Kaushan Script";
    src: url("../public/font/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../public/font/Poppins-Regular.ttf");
}

#mainScrollBar::-webkit-scrollbar{
    display: none;
}

#mainScrollBar1::-webkit-scrollbar{
    display: none;
}
